chromadb
gradio
langchain
langchain-community
langchainhub
langchain-mistralai
langchain-openai
langchain-core
langchain-fireworks==0.1.3
langchain-huggingface
langchain-google-genai
langchain-anthropic
numpy
PyPDF2
python-dotenv
sentence-transformers
